@media (min-width:768px){
	#search_toggle {display:none;}
}
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .action ul li a { padding: 5px 10px; font-size: 13px;}
  .hire_for .row { display: block; }
  .hire_for .row > div {margin-bottom:15px;}
}
@media only screen and (max-width:767px){
#my_menu ul.navbar-nav > li > a { padding: 8px 15px; }
.banner_caption h1 { font-size:20px; }
.banner_caption p { margin: 20px 0; width: 65%; }
.banner_caption a { margin-right:10px; font-size:13px; padding: 8px 10px; }
.banner_caption a:last-child { margin-right:0; }
.hire_for .row > div:not(:first-child):after {left: 50%; top:0;}
.hire_for .row > div:not(:first-child) { margin-top:15px; padding-top:15px; text-align: center; }
.hire_for .row > div { text-align:center; }
.action {margin-top:8px;}
#my_menu ul li { display: block !important;}
.navbar-inverse .navbar-nav .open .dropdown-menu>li {text-align:center;}
.navbar-nav .open .dropdown-menu {background:#fff;}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a { color: #00b2ff; }
.affix { top: 0; width: 100%; position: relative; }
#scrollt { margin-bottom:15px; }
.custom_form .form-group > label, .custom_form .form-group input:not([type=checkbox]), .custom_form .form-group select, .custom_form .form-group textarea { float:none; width:100%; }
.custom_form .form-group > label { margin:0 0 5px; }
.custom_form .form-group { margin-bottom:10px; }
.gradient-background { left: -85%; top: 345px; }
.heading p br {display:none;}
.linked_social li { width:100%; margin-bottom:10px; }
.profile_details.profile_list > ul > li, .grey_listing ul li, .user_signup ul li { width:100% !important; }
.user_signup ul li { margin-bottom:10px; }
.copyright_text, .social_media {text-align:center;}
.f_links ul { margin-bottom:15px; }	
.mobile_search { position: absolute; width: 100%; left: 0; z-index: 99999; top: 100%; background: #fff; padding-bottom: 10px;	display:none;}
.mobile_float { float:right; }
.logo img { max-width: 85px; }
.hw_works, .training {margin-bottom:30px;}
    .dropdown-menu {display: none!important;}
    .navbar-nav .open .dropdown-menu {min-width: 100%; position: static; border: none; text-align: center; display: block!important}
    .navbar-nav .dropdown-menu {display: none;}
    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {background-color: #62839ef0}
    #my_menu ul.navbar-nav > li > a:before {display: none;}
    #my_menu ul.navbar-nav > li > a:after {display: none;}

}