@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
html {overflow-x: hidden;}
body { margin: 0; padding: 0px; font-family: 'Open Sans', sans-serif; overflow-x: hidden; }
a,a:hover, a:focus { text-decoration: none; outline: none; transition: all 400ms ease;}

.top_header { padding: 10px 0; position:relative; }
.logo img { max-width: 110px; }
.search_bx { margin-top: 12px; }
.search_bx select { margin-top: 5px; margin-right: 10px; font-size: 13px; background: none; border: none; box-shadow: none; outline: none; min-width: 80px; float: left; }
.search_inr { width: calc(100% - 90px); display: block; float: left; position: relative; }
.search_inr input { padding: 5px 35px 5px 10px; width: 100%; font-size: 13px; background: none; box-shadow: none; outline: none; border-radius: 5px; border: solid 1px #ccc; height: 32px; }
.search_inr button { padding: 0 10px; border-radius: 0 5px 5px 0; border: none; box-shadow: none; outline: none; position: absolute; right: 0; top: 0; height: 32px;}
.action { text-align: right;    margin-top: 12px; position:relative; }
.action > ul { margin: 0; }
.action > ul > li a { padding: 5px 20px; border-radius: 5px; background: #00b2ff; color: #fff; display: inline-block; border: solid 1px #00b2ff; }
.action > ul > li:first-child a { background: none; border: solid 1px #00b2ff; color: #00b2ff; }
#search_toggle {
    position: absolute;
    right: 165px;
    top: 0;
    background: none; border:none; outline:none; box-shadow:none; border-radius:5px; padding: 4px 10px; border:solid 1px #00b2ff; color:#00b2ff;
}
.dash_btn { float:right; }
.dash_btn button { background: none; border:none; border-radius:0px; outline:none; box-shadow:none;}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse { border:none; }
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover { background:none; }
#my_menu { margin: 0; padding: 0; border-radius: 0px; text-align: center; background: #00b2ff; border: none; }
#my_menu ul.navbar-nav, #my_menu ul.navbar-nav > li { float: none; }
#my_menu ul.navbar-nav > li { display: inline-block; }
#my_menu ul.navbar-nav > li > a { color: #fff; padding: 15px 17px; position:relative; }
#my_menu ul.navbar-nav > li > a:after { content:""; position:absolute; top:7px; left:0; width:0%; height:1px; background:#fff; transition: all 400ms ease; }
#my_menu ul.navbar-nav > li > a:before { content:""; position:absolute; bottom:7px; right:0; width:0%; height:1px; background:#fff;transition: all 400ms ease; }
#my_menu ul.navbar-nav > li > a:hover:before, #my_menu ul.navbar-nav > li > a:hover:after {width:100%;transition: all 400ms ease;} 
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover { background:transparent; }
.dropdown-menu {padding:0;}
.dropdown-menu>li>a { padding: 5px 20px; }
.banner { position: relative; }
.banner img { width: 100%; height: 450px; object-fit: cover; }
.banner_caption { position: absolute; top: 50%; left: 0; width: 100%; transform: translateY(-50%); }
.banner_caption h1 { margin: 0 0 15px; padding: 0; color: #fff; font-size: 26px; }
.banner_caption p { margin: 30px 0 30px; padding: 0; color: #fff; width: 55%; }
.banner_caption a { margin-right: 15px; padding: 10px 25px; border-radius: 5px;  color: #fff; display: inline-block; border: solid 1px #fff; vertical-align: top;  }
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.hire_for { background: #fbfbfb; padding: 35px 0; }
section.custome_section.hire_exp {
    padding-top: 50px;
}
.hire_for .row { display: flex; }
.hire_for h2 { font-size: 22px; margin: 0px; color: #000; font-weight: 600; line-height: 1.3; }
.hire_for h3 { font-size: 18px; margin: 0 0 5px; color: #000; font-weight: 600; line-height: 1.3; }
.hire_for p { margin: 0; color: #000; } 
.hire_for .row > div:not(:first-child):after { content: "\f192"; position: absolute; left: -20px; top: 50%;  font-family:'FontAwesome'; font-size:20px;
transform:translateY(-50%); }
.custom_btn { position:relative; z-index:1; overflow:hidden;  }
.custom_btn:after { content:""; position:absolute; left:auto; right:0; top:0; z-index:-1; width:0%; background:#fff; height:100%; display:block;transition: all 400ms ease; }
.custom_btn:before { content:""; position:absolute; left:0; top:0; z-index:-1; width:0%; background:#fff; height:100%; display:block; transition: all 400ms ease;}
.custom_btn:hover:before, .custom_btn:hover:after { width:50%;transition: all 400ms ease; }
.custom_btn:hover { color:#00b2ff; border-color:#00b2ff; }
.custome_section { padding: 30px 0; }
.section_heading { margin: 10px 0 30px; padding: 0; text-align: center; font-size: 24px; font-weight: 700; color: #000; }
.expertise { margin-bottom: 30px; padding:40px 15px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);text-align: center; position: relative; overflow: hidden;}
.expertise img { height: 40px; }
.expertise h3 { margin:15px 0 0; padding: 0; font-size: 17px; font-weight: 600; }
.expertise .after_hover { padding: 15px; position: absolute; left: -100%; top: 0; width:100%; height: 100%; background: #00b2ff; transition: all 800ms ease; }
.expertise:hover .after_hover { left: 0; transition: all 800ms ease; }
.expertise .after_hover h3 { margin-bottom: 5px; margin-top: 5px; }
.expertise .after_hover h3, .expertise .after_hover p { color: #fff; }
.see_all, .blue_btn { display: inline-block; padding: 7px 30px; background: #00b2ff; border:solid 1px #00b2ff; color: #fff; font-size: 16px; }

.hw_works { text-align: center; }
.hw_works img { width: 90px; }
.hw_works h3 { margin:15px 0; padding: 15px 0 0; font-size: 22px; font-weight: 600; position: relative; }
.hw_works h3:before { content: ""; position: absolute; top: 0px; left: 50%; width: 50px; height: 2px; background: #00b2ff; transform: translateX(-50%); }

.bg_grey { background: #fbfbfb; padding: 40px 0; }
.training { text-align: center; padding: 0 20%; }
.training h3{ margin: 0 0 10px; padding: 0 0; font-size: 22px; font-weight: 600; position: relative; }
.training a { padding: 7px 25px; border:solid 1px #00b2ff; display: inline-block; color: #fff; background: #00b2ff; }

.footer { padding: 30px 0 15px; border-top: solid 1px #ccc; }
.f_about { padding: 0 15px 0 0; }
.f_about img { margin-bottom: 15px; }
.f_about img { width: 90px; }
.f_links h3 { margin:0px 0 10px; padding: 0px 0 0; font-size: 18px; font-weight: 600;  }
.f_links ul { margin: 0; padding: 0; list-style-type: none; }
.f_links ul li a { display: inline-block; color: #000; line-height: 1.7; }
.f_links ul li a:hover { padding-left:  5px;}



/**list-page**/
.mid_content { padding: 50px 0; position:relative; overflow:hidden; }
.filter_bx h3 { margin: 0 0 10px; font-size: 18px; font-weight: 600; color: #00b2ff;}
.filter_bx ul { margin: 0; padding: 0; list-style-type: none; }
.filter_bx ul li label { padding-left: 25px; font-weight: normal; cursor: pointer; position: relative; overflow: hidden; }
.filter_bx ul li label:before { content: ""; position: absolute; left: 0; top: 0; width: 16px; height: 16px; border: solid 1px #000; }
.filter_bx ul li input { display: none; }
.filter_bx ul li label:after { content: "\f00c"; position: absolute; left: -22px; top: -2px; font-family: 'FontAwesome'; font-size: 14px; transition: all 400ms ease; }
.filter_bx ul li input:checked + label:after { left: 2px; transition: all 400ms ease; } 
.filter_bx { padding: 15px; border: solid 1px #efefef; }
.profile_list > ul { margin: 0 0 15px; padding: 0; list-style: none; overflow: hidden; border-bottom: dashed 1px #ececec; padding-bottom: 15px; }
.profile_list > ul li:first-child img { width: 80px; height: 80px; border-radius: 50%; display: block; border: solid 2px #d8d8d8; }
.profile_list > ul > li:first-child { width: 120px; float: left; }
.profile_list > ul > li:last-child { width: calc(100% - 120px); float: left; }
.pills ul li:not(.head_main) { margin: 0 2px 10px; padding:3px 13px; border-radius: 50px; background: #e6e6e6; color: #000; font-size:13px;}
.bio_disc { margin: 10px 0 15px; }
.speciality i {color: #000;}
.head_main {font-weight: bold; margin-right: 10px;}
.pills { margin-bottom: 15px; }
.affix {top: 0; width: 19.3%;}
.profile_list_bx h4 a { color: #00b2ff; }
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3; color: #fff; cursor: default; background-color: #00b2ff; border-color: #0590cc; }
/**signup-page**/
.custom_form { padding: 30px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16); background:#fff; }
.custom_form .form-group { overflow: hidden; }
.custom_form .form-group > label { margin: 8px 0 0;padding-right: 5px; float: left; width: 150px; font-weight:normal; font-size:16px; }
.custom_form .form-group input:not([type=checkbox]),  .custom_form .form-group select, .custom_form .form-group textarea {
	width: calc(100% - 150px); float: right; border-radius:0px; outline-color:#00b2ff; box-shadow: none; padding: 8px 12px; height: auto;}
.custom_form .form-group input[type=radio] { width:auto; float: none;}
.form-control + .form-control { margin-top:10px;}
.custom_form .form-group > label span { display: block; font-weight: normal; font-size: 11px; }
.heading.text-center { margin-bottom: 70px; }

.gradient-background {
	background: -webkit-gradient(linear,left top,right top,from(#00b2ff),color-stop(200%,#0096d4 ));
    background: linear-gradient(90deg,#00b2ff,#0096d4 200%);
    overflow-x: hidden; opacity: 1; -webkit-transition: opacity 1s ease; transition: opacity 1s ease; height: 100%; width: 295%; transform: rotate(-25deg);
    position: absolute; left:-35%; }
.custom_form ul.list-inline { margin-top:10px; }
.custom_form ul.list-inline label { padding-left: 30px; position:relative; font-weight:normal; font-size:15px; cursor:pointer; }
.custom_form ul.list-inline label:after { content:""; position:absolute; left:0; top:0; width:20px; height:20px; border:solid 2px #00b2ff; border-radius:50%; }
.custom_form ul.list-inline label:before { content:""; position:absolute; left:5px; top:5px; width:10px; height:10px; background:#00b2ff;  border-radius:50%; opacity:0; }
.custom_form ul.list-inline input { display:none; }
.custom_form ul.list-inline input:checked ~ label:before { opacity:1; }
.heading h2 { margin: 0 0 15px;  padding: 0; font-size: 32px; color: #000; }
.heading p { font-size: 18px; line-height: 1.5; }
.why-stripe { padding-top: 200px; }
.why-stripe .intro-text { color: #f9fbfd; font-size: 24px; font-weight: 400; line-height: 36px; }
.why-stripe .bullet-points { margin-top: 20px; padding-left: 38px; list-style-type:none; }
.why-stripe .bullet-points li { max-width: 300px; }
.why-stripe .bullet-points li { color: #fff; font-size: 17px; font-weight: 400; line-height: 25px; margin-bottom: 20px; position: relative; padding-right: 10px; }
.why-stripe .bullet-points li:before { content: "\f058";  position: absolute; top: 3px; left: -35px; font-family:'FontAwesome'; font-size:20px; }

/***contact_info-page***/
.sidebar_list { margin-bottom: 30px; background: #fdfdfd; padding: 15px; }
.sidebar_list h3 { margin: 0 0 10px; font-size: 16px; font-weight:600; }
.sidebar_list ul { margin: 0 0 10px; padding: 0px 0 0 5px; list-style-type: none; }
.sidebar_list ul li a { padding: 3px 0 3px 10px; margin-bottom:8px; line-height: 1; display: block; color: #000; position: relative; }
.sidebar_list ul li a:after { content:""; position:absolute; top:0px; left:0px; width:2px; height:0%; background:#00b2ff; transition:all 400ms ease; }
.sidebar_list ul li a:hover:after, .sidebar_list ul li.active a:after { height:100%; transition:all 400ms ease; }
.sidebar_list ul li a:hover, .sidebar_list ul li.active a { color:#00b2ff; }
.content_bx_wrp h2 { margin: 0 0 15px; font-size: 26px; color: #000; }
.content_bx { background: #fdfdfd; padding: 20px; }
.content_bx h4 { margin:0 0 15px; padding:20px; background:#fbfbfb; overflow:hidden;  }
.content_bx p { margin:0 0 5px }
.content_bx h4 a { margin-top: 2px; display:block; float:right; color: #00b2ff; }
.content_bx > .text-right a { font-size:14px; }
ul.linked_social { margin: 0 -10px; padding: 0; list-style-type: none; overflow:hidden; }
.linked_social li { float:left; width:33.33%; padding:0 10px; text-align:center; }
.linked_social li a { color:#fff; display:block; padding:10px; }
.linked_social li a i { display:inline-block; margin-right:5px; }
.fb { background:#4267b2; }
.linkedin { background:#283e4a; }
.git { background:#24292e; }


.profile_details.profile_list > ul > li:first-child { width: 250px; float: left; }
.profile_details.profile_list > ul > li:last-child { width: calc(100% - 250px); float: left; }
.profile_details.profile_list > ul li:first-child img { width: 180px; height: 180px; }
.profile_details.profile_list > ul > li:first-child  li i { display:inline-block; min-width:20px; color: #000000; }
.profile_details.profile_list > ul > li:first-child  li { margin-bottom:5px; }
.profile_details.profile_list > ul > li:first-child  ul { margin-top:15px; }

.grey_listing { margin:20px 0; padding: 20px; background:#fbfbfb; border:solid 1px #f1f1f1; }
.grey_listing h3 { font-size: 20px; margin: 0 0 10px; }
.grey_listing ul { padding:0; list-style-type:none; overflow: hidden; }
.grey_listing ul li { margin-bottom:8px; padding-left:25px; padding-right:10px; width:50%; float:left; position:relative; line-height: 1.5; }
.grey_listing ul li:before { content: "\f00c"; font-family:'FontAwesome'; color: #00b2ff; position: absolute; left: 0; top: 0; }

.course_listing, .user_signup { margin:20px 0; }
.course_listing h3, .user_signup h3 { margin: 0 0 15px; overflow: hidden; font-size: 20px; }
.course_listing h3 span { margin-top:5px; margin-right: 20px; font-size:14px; display:inline-block; color:#464646; }
.course_listing table { margin:0; }
.course_listing table tr:first-child  td{ border-top:none; }
.course_listing table td:first-child {width:100%;}
.course_listing table td i { display:inline-block; margin-right:10px; }
.course_listing table td:last-child { text-align:right; }
.course_listing h4.panel-title a { color: #000; display:block; }
.course_listing h4.panel-title a span { margin-right:10px; font-size:14px; }

.panel-default>.panel-heading { background-color: #fbfbfb; }
.user_signup input{ border-radius: 0px; outline-color: #00b2ff; box-shadow: none; padding: 8px 12px; height: auto; }
.user_signup { border: solid 1px #f1f1f1; padding: 20px; background: #fbfbfb; }

.social_media {margin:0; padding:0}
.social_media li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 0px;
}
.social_media li a {
    color: #fff;
}
.social_media li a i {
    border-radius: 50%;
    height: 30px;
    transition: 1s;
    width: 30px;
    background: #777;
    line-height: 30px;
    text-align: center;
}
.social_media li a:hover i {
    background: #00b2ff;
}
.copyright {
    border-top: solid 1px #ccc;
    padding-top: 15px;
    margin-top: 25px;
}
.copyright_text p { margin:5px 0 0; color:#333; }

/**dashboard**/
.nav-side-menu {
  overflow: auto;
  background-color: #00b2ff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 4rem;
  cursor: pointer;
  visibility: visible !important;
}
/*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu li i.sidebar-icon {
    margin-right: 0.6rem;
    font-size: 1.5em;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #e1ffff;
  background-color: #4f5b69;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #0079ad;
  border-bottom: 1px solid #0079ad;
}
.nav-side-menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #00b2ff;
  background-color: #0079ad;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  background-color: #000;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #0079ad;
  border: none;
  line-height: 3.4rem;
  border-bottom: 1px solid #026590;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu li .sub-menu li a,
.nav-side-menu ul .sub-menu li a{
    display: block;
    padding-left: 20px;
}
.nav-side-menu ul .sub-menu li a i,
.nav-side-menu li .sub-menu li a i{
    padding-right: 10px !important;
}
.dashboard_content { padding:20px 0; }
.p-0 { padding:0; }
.pl-0 { padding-left:0; }
.dash_bx {
    padding: 15px;
    border: solid 1px #00b2ff;
    overflow: hidden;
	margin-bottom:30px;
	    background: #fff;
}
.dash_bx p { margin:0; font-size:24px; }
.dash_bx i {
    font-size: 32px;
    color: #00b2ff;
    position: relative;
    top: 10px;
}
.right_side {
    background: #fbfbfb;
    padding: 30px 15px;
}



