<table width="752" cellspacing="0" cellpadding="9">
<tbody>
<tr>
<td bgcolor="#b4c6e7" width="110" height="6">
<p><strong>Fields</strong></p>
</td>
<td bgcolor="#b4c6e7" width="174">
<p><strong>Description</strong></p>
</td>
<td bgcolor="#b4c6e7" width="261">
<p><strong>Possible Values</strong></p>
</td>
<td bgcolor="#b4c6e7" width="57">
<p><strong>Data Type</strong></p>
</td>
<td bgcolor="#b4c6e7" width="55">
<p><strong>Required</strong></p>
</td>
</tr>
<tr>
<td width="110" height="23">
<p>MemberId</p>
</td>
<td width="174">
<p>Member Id</p>
</td>
<td width="261">
<p>e.g.: 1234567</p>
</td>
<td width="57">
<p>varchar(50)</p>
</td>
<td width="55">&nbsp;</td>
</tr>
<tr>
<td width="110" height="79">
<p>Joindate</p>
</td>
<td width="174">
<p>Date of Joining of Member or date the record is created. (Whichever is first).</p>
</td>
<td width="261">
<p>e.g.: 2017-05-01</p>
</td>
<td width="57">
<p>Datetime</p>
</td>
<td width="55">&nbsp;</td>
</tr>
<tr>
<td width="110" height="152">
<p>MemberType</p>
</td>
<td width="174">
<p>Type of Member</p>
</td>
<td width="261">
<p>e.g. <br /> &gt; Retail Customer<br /> &gt; Employee<br /> &gt; Preferred Customer<br /> &gt; Mandator<br /> &gt; Firm</p>
</td>
<td width="57">
<p>varchar(20)</p>
</td>
<td width="55">&nbsp;</td>
</tr>
<tr>
<td width="110" height="41">
<p>MemberStatus</p>
</td>
<td width="174">
<p>Termination or Blocked status of Member.</p>
<p>We expect &ldquo;NULL&rdquo; for the member who is not terminated.</p>
<p>We expect values like Terminate, Blocked, Legal Hold etc. for member who is terminated</p>
</td>
<td width="261">
<p>e.g. <br /> &gt; Terminate</p>
<p>&gt; Legal Hold</p>
<p>&gt; Blocked</p>
<p>&gt; Ceased</p>
</td>
<td width="57">
<p>varchar(100)</p>
</td>
<td width="55">&nbsp;</td>
</tr>
<tr>
<td width="110" height="41">
<p>CountryCode</p>
</td>
<td width="174">
<p>Country of Member</p>
</td>
<td width="261">
<p>e.g.: US</p>
</td>
<td width="57">
<p>varchar(4)</p>
</td>
<td width="55">&nbsp;</td>
</tr>
<tr>
<td width="110" height="20">
<p>State</p>
</td>
<td width="174">
<p>State of Member</p>
</td>
<td width="261">
<p>e.g.: CA</p>
</td>
<td width="57">
<p>varchar(50)</p>
</td>
<td width="55">&nbsp;</td>
</tr>
<tr>
<td width="110" height="22">
<p>Zip</p>
</td>
<td width="174">
<p>Zip Code of Member</p>
</td>
<td width="261">
<p>e.g.: 90001</p>
</td>
<td width="57">
<p>varchar(10)</p>
</td>
<td width="55">&nbsp;</td>
</tr>
<tr>
<td width="110" height="7">
<p>City</p>
</td>
<td width="174">
<p>City of Member</p>
</td>
<td width="261">
<p>e.g.: Los Angeles</p>
</td>
<td width="57">
<p>varchar(100)</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>FirstName</p>
</td>
<td width="174">
<p>First name of Member</p>
</td>
<td width="261">
<p>e.g. Panchsheel</p>
</td>
<td width="57">
<p>nvarchar(100)</p>
</td>
<td width="55">
<p><strong>Required for SMS</strong></p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>LastName</p>
</td>
<td width="174">
<p>Last name of Member</p>
</td>
<td width="261">
<p>e.g.Mittal</p>
</td>
<td width="57">
<p>nvarchar(100)</p>
</td>
<td width="55">
<p><strong>Required for SMS</strong></p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>PhoneNumber</p>
</td>
<td width="174">
<p>Phone Number of Member</p>
</td>
<td width="261">
<p>e.g. (+91) 9818291829</p>
</td>
<td width="57">
<p>varchar(50)</p>
</td>
<td width="55">
<p><strong>Required for SMS</strong></p>
</td>
</tr>
<tr>
<td width="110" height="51">
<p>PhoneNumberFlag</p>
</td>
<td width="174">
<p>Whether Member is Mobile Phone User</p>
</td>
<td width="261">
<p>e.g: M||L||U<br /> M - Mobile<br /> L- Landline<br /> U- Unknown</p>
</td>
<td width="57">
<p>varchar(10)</p>
</td>
<td width="55">
<p><strong>Required for SMS</strong></p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>Age</p>
</td>
<td width="174">
<p>Age of Member at time of joining</p>
</td>
<td width="261">
<p>e.g.: 29</p>
</td>
<td width="57">
<p>Integer</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>Gender</p>
</td>
<td width="174">
<p>Gender of Member</p>
</td>
<td width="261">
<p>Male or Female or Other or Unknown</p>
</td>
<td width="57">
<p>varchar(10)</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>EducationLevel</p>
</td>
<td width="174">
<p>Highest Education Qualification of Member</p>
</td>
<td width="261">
<p>DOCTOR or MASTER or GRADUATE or UNDERGRADUATE or ILLITERATE</p>
</td>
<td width="57">
<p>varchar(50)</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>MaritalStatus</p>
</td>
<td width="174">
<p>Marital Status of Member</p>
</td>
<td width="261">
<p>SINGLE or MARRIED or DIVORCED or WIDOW</p>
</td>
<td width="57">
<p>varchar(10)</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>NumberOfResidents</p>
</td>
<td width="174">
<p>Number of residents staying in Members House</p>
</td>
<td width="261">
<p>e.g.: 5</p>
</td>
<td width="57">
<p>Integer</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>HouseType</p>
</td>
<td width="174">
<p>Number of residents staying in Members House</p>
</td>
<td width="261">
<p>e.g.: Apartments, Owned House</p>
</td>
<td width="57">
<p>varchar(20)</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>Occupation</p>
</td>
<td width="174">
<p>Occupation status of Member</p>
</td>
<td width="261">
<p>Employed or Business or House Wife or Unemployed</p>
</td>
<td width="57">
<p>varchar(50)</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>HouseholdIncomeLevel</p>
</td>
<td width="174">
<p>Annual Income of Member Household in dollars</p>
</td>
<td width="261">
<p>e.g.: $50000</p>
</td>
<td width="57">
<p>numeric(15,2)</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>Religion</p>
</td>
<td width="174">
<p>Religion of Member</p>
</td>
<td width="261">
<p>e.g. Christian</p>
</td>
<td width="57">
<p>varchar(50)</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="7">
<p>PreferredLanguage</p>
</td>
<td width="174">
<p>Preferred Language or Culture Code of Member</p>
</td>
<td width="261">
<p>e.g. English or EN-US</p>
</td>
<td width="57">
<p>varchar(50)</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
<tr>
<td width="110" height="6">
<p>PreferredChannelOfcontact</p>
</td>
<td width="174">
<p>Preferred channel of contact of Member</p>
</td>
<td width="261">
<p>e.g. Email</p>
</td>
<td width="57">
<p>varchar(50)</p>
</td>
<td width="55">
<p>Optional</p>
</td>
</tr>
</tbody>
</table>